body {
	background-color: #000000;
	color: lightgray;
	font-size: 28px;
}

#container	{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#board	{
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 48px;
	min-height: 60px;
	font-family: 'Anonymous Pro', monospace;
	font-weight: 700;
}

#picture	{
	float: left;
	width: 45%;
	text-align: center;
	min-height: 280px;
}

#keyboard	{
	float: right;
	width: 45%;
	text-align: center;
}

.button {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 5px;
	margin: 5px;
	border: 3px solid gray;
	float: left;
	cursor: pointer;
	border-radius: 15px;
}

.button:hover	{
	background-color: #222222;
	color: white;
	border-color: white;
}

.green	{
	background-color: #003311;
	color: #00b33c;
	border-color: #00b33c;
	cursor: default;
}

.green:hover	{
	background-color: #003311;
	color: #00b33c;
	border-color: #00b33c;
}

.red	{
	background-color: #330000;
	color: #e60000;
	border-color: #e60000;
	cursor: default;
}

.red:hover	{
	background-color: #330000;
	color: #e60000;
	border-color: #e60000;
}

.but1 {
	height: 30px;
	text-align: center;
	padding: 5px;
	border: 3px solid gray;
	cursor: pointer;
	border-radius: 15px;
}

.but1:hover	{
	background-color: #222222;
	color: white;
	border-color: white;

	

